<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Camisas Men</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="search.categoria='Polo'">Polo</a></li>
                <li><a href="" ng-click="search.categoria='Social'">Social longa</a></li>
                <li><a href="" ng-click="search.categoria='T-shirt'">T-Shirt</a></li>
                <li><a href="" ng-click="search.categoria=''">Todas</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" ng-repeat="camisa in camisas | filter:search">
            <div class="thumbnail">
                <img ng-src="{{camisa.imagem}}">
                <h4>{{camisa.nome}}</h4>
                <p>Categoria: {{camisa.categoria}}</p>
                <p><span>Preço: {{camisa.preco | currency}}</span>
                    <a href="#/camisa/{{camisa.codigo}}" class="btn btn-default">Detalhes</a>
                </p>
            </div>
        </div>
    </div>
</div>